{% extends "base.html" %}

{% block title %}{{ _('Productos - FIWARE Smart Store') }}{% endblock %}

{% block header_title %}{{ _('Catálogo Global de Productos') }}{% endblock %}
{% block header_subtitle %}{{ _('Todos los artículos disponibles en nuestra red.') }}{% endblock %}

{% block content %}
<div class="actions-bar">
    <a href="{{ url_for('create_product') }}" class="btn-primary"><i class="fas fa-plus"></i> {{ _('Añadir Producto')
        }}</a>
</div>

<div class="grid">
    {% for product in products %}
    <div class="card">
        <div class="card-image">
            <img src="{{ product.image }}" alt="{{ product.name }}">
        </div>
        <div class="card-body">
            <h3>{{ _(product.name) }}</h3>
            <p class="price">{{ "%.2f"|format(product.price) }}€</p>
            <p><small>{{ _('Origen:') }} {{ product.originCountry or _('Desconocido') }}</small></p>
            <div class="card-footer">
                <a href="{{ url_for('product_detail', id=product.id) }}" class="btn-secondary">{{ _('Detalles') }}</a>
                <a href="{{ url_for('edit_product', id=product.id) }}" class="btn-text"><i class="fas fa-edit"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}